@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
body {
  background: #182334;
  font-family: "Roboto", sans-serif;
}
body .background {
  position: absolute;
  width: 541.82px;
  height: 587.16px;
  left: 181.43px;
  top: 326.68px;
  background: #01E4BF;
  opacity: 0.45;
  filter: blur(158.5px);
}
body .header {
  position: relative;
  width: 1728px;
  height: 1117px;
  background: #14162E, #677185;
  box-shadow: 0px 4px 100px rgba(0, 0, 0, 0.3);
  border-radius: 50px;
  left: 25px;
}
body .lng-title-unit {
  position: absolute;
  width: 547.96px;
  height: 165.66px;
  left: 107px;
  top: 347px;
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 77px;
  color: #FFFFFF;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
}
body .lng-description {
  position: absolute;
  width: 307.71px;
  height: 138.4px;
  left: 106.7px;
  top: 545.06px;
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
body .link-register-here {
  color: rgba(1, 228, 191, 0.6);
  text-decoration: none;
}
body .img {
  position: absolute;
  width: 1184px;
  height: 1118px;
  left: 217px;
  top: 0px;
}
body .Home-bar {
  position: absolute;
  width: 76.51px;
  height: 40px;
  left: 89px;
  top: 80px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 37px;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  text-decoration: none;
}
body .About-bar {
  position: absolute;
  width: 76.51px;
  height: 40px;
  left: 242.03px;
  top: 80px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 37px;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  text-decoration: none;
}
body .Blog-bar {
  position: absolute;
  width: 76.51px;
  height: 40px;
  left: 395.06px;
  top: 80px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 37px;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  text-decoration: none;
}
body .Pages-bar {
  position: absolute;
  width: 76.51px;
  height: 40px;
  left: 529.66px;
  top: 80px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 37px;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  text-decoration: none;
}
body .Contact-bar {
  position: absolute;
  width: 104.85px;
  height: 40px;
  left: 684.11px;
  top: 80px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 37px;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  text-decoration: none;
}
body .English {
  position: absolute;
  width: 96.06px;
  height: 38.75px;
  left: 1247.75px;
  top: 60px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 37px;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  text-decoration: none;
}
body .lng-Sign-in-more {
  position: absolute;
  width: 96.41px;
  height: 39.84px;
  left: 1400.72px;
  top: 80px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 37px;
  letter-spacing: 0.06em;
  color: #01E4BF;
  text-decoration: none;
}
body .Register-bar {
  position: absolute;
  width: 96.96px;
  height: 39.84px;
  left: 1542.04px;
  top: 80px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 37px;
  letter-spacing: 0.06em;
  color: #01E4BF;
  text-decoration: none;
}
body .text-email {
  position: absolute;
  width: 397.15px;
  height: 78.77px;
  left: 1173px;
  top: 402px;
  text-decoration: none;
}
body .text-input-registration {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 10.39%;
  bottom: 11.69%;
  background: #EAF0F7;
  border-radius: 10px;
  font-size: 20px;
}
body .delit {
  position: absolute;
  left: 88.25%;
  right: 5.75%;
  top: 33.77%;
  bottom: 35.06%;
  cursor: pointer;
}
body .text-password {
  position: absolute;
  width: 397.15px;
  height: 78.77px;
  left: 1173px;
  top: 483.84px;
}
body .input-password {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 10.39%;
  bottom: 11.69%;
  background: #EAF0F7;
  border-radius: 10px;
  font-size: 25px;
}
body .viewing.img-viewing {
  position: absolute;
  left: 88%;
  right: 6%;
  top: 46%;
  bottom: 35.06%;
  cursor: pointer;
}
body .warning-more {
  position: absolute;
  width: 175.05px;
  height: 78.77px;
  left: 1396.09px;
  top: 546.24px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 77px;
  letter-spacing: 0.1em;
  color: rgba(1, 228, 191, 0.6);
  text-decoration: none;
}
body .Icon-email {
  position: absolute;
  left: 88.25%;
  right: 5.75%;
  top: 33.77%;
  bottom: 35.06%;
}
body .button {
  position: absolute;
  width: 397.15px;
  height: 61.38px;
  left: 1173px;
  top: 646.49px;
  background: rgba(1, 228, 191, 0.9);
  box-shadow: 0px 12px 21px 4px rgba(68, 97, 242, 0.15);
  border-radius: 10px;
}
body .lng-button-link-more {
  position: absolute;
  width: 78px;
  height: 79px;
  left: 158px;
  top: -5px;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 77px;
  letter-spacing: 0.09em;
  color: #FFFFFF;
  text-decoration: none;
}
body .icon-link {
  position: absolute;
  width: 397.15px;
  height: 79px;
  left: 1173px;
  top: 731px;
}
body .link-google {
  position: absolute;
  width: 60px;
  height: 60px;
  left: 1224.09px;
  top: 812px;
}
body .link-facebook {
  position: absolute;
  width: 59.02px;
  height: 60px;
  left: 1464.09px;
  top: 812px;
}
body .link-apple {
  position: absolute;
  width: 60px;
  height: 60px;
  left: 1344.09px;
  top: 812px;
}
body .change-lang {
  position: absolute;
  width: 96.06px;
  height: 38.75px;
  left: 1247.75px;
  top: 80px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 37px;
  letter-spacing: 0.06em;
  border-radius: 10px;
  background-color: #182334;
  border: none;
  color: #FFFFFF;
  border-color: #9CA3AF;
}/*# sourceMappingURL=index.css.map */